* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  color: rgb(141, 141, 141);

  /* border: solid 1px rgba(0, 0, 0, 0.2); */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 51);

  display: grid;
  grid-template-rows: 45px 1fr;
}

/* NAVBAR */

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 22.5px;
}

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.app-name {
  padding-top: 3px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 900;
}

.app-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1159/1159633.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: invert(1);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.user-name {
  color: transparent;
}

/* MAIN BODY */

.main-body {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;

  overflow: scroll;
}

.project-container,
.add-project-container {
  height: fit-content;
  background-color: rgba(230, 230, 230, 0.9);

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  border-radius: 5px;
}

.add-project-container {
  min-height: 97.5px;
}

.add-project-container > .add-container > .add-button {
  min-height: 82.5px;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 5px;
}

.top-project {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  min-height: 30px;
}

.top-project > .button-container {
  margin-top: 5px;
}

.project-name {
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0 2.5px;
  color: rgba(0, 0, 0, 0.55);
  letter-spacing: -0.3px;
  /* line-height: 1.65rem; */
}

.list-container,
.add-input-container,
.edit-input-container {
  width: 255px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;

  border-radius: 5px;
}

.list-container > .edit-input-container {
  transform: translateX(-11.5px);
  background-color: transparent;
}

/* .list-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
} */

.edit-button,
.delete-button {
  cursor: pointer;
  width: 20px;
  height: 20px;

  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.6;
  background-color: transparent;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 1;
}

.edit-button {
  background-image: url('./images/edit.png');
  background-size: 15px;
}

.delete-button {
  background-image: url('./images/delete.png');
  background-size: 14.5px;
}

.add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-cancel-container {
  display: flex;
}

.add-button,
.submit-button,
.cancel-button {
  width: 100%;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;

  background-color: transparent;
  opacity: 0.6;
}

.add-button:hover,
.submit-button:hover,
.cancel-button:hover {
  opacity: 1;
}

.add-button {
  height: 40px;
  background-size: 11.5px;
  background-image: url('./images/add.png');
}

.submit-button {
  background-size: 13.5px;
  background-image: url('./images/confirm.png');
  margin-top: 10px;
}

.cancel-button {
  background-size: 11.5px;
  background-image: url('./images/cancel.png');
  margin-top: 10px;
}

input,
.priority-container,
.due-container {
  width: 100%;
  height: 1.9rem;
  padding: 2px 5px;
  margin-bottom: 2.5px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(231, 231, 231);
}

.text-input {
  overflow: visible;
}

.mid-project {
  display: grid;
  gap: 5px;
  margin: 5px 0;
}

.button-container,
.top-list {
  display: flex;
  justify-content: end;
  transform: translateY(-2px);
}

.mid-list {
  display: grid;
  grid-template-columns: 17.5px 1fr 55px;
  grid-template-rows: auto auto;
}

.mid-list > .list-title {
  grid-row: 1/2;
}

.mid-list > .button-container {
  grid-row: 1/2;
  transform: translate(5px, -2px);
}

.mid-list > .list-text {
  grid-column: 2/4;
}

.checkbox-container {
  padding-top: 5px;
  grid-row: 1/3;
  height: 12px;
  width: 12px;
  border: solid 1px rgba(138, 138, 138, 0.3);
  border-radius: 4px;
  transform: translate(-2px, 4px);
}

.checkbox-container:hover::after {
  content: '✓';
  position: relative;
  font-size: 2rem;
  color: rgb(92, 92, 92);
  top: -50px;
  left: -2px;
}

.checkbox-container > input {
  visibility: hidden;
}

.list-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  min-height: 22.5px;
}

.list-text {
  grid-column: 2/3;
  grid-row: 2/3;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  line-height: 1.5rem;
}

.bottom-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  height: auto;
}

.list-date,
.list-due,
.list-priority,
.list-status {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 0.9rem;
}

.list-date {
  border-top: solid 1px rgba(128, 128, 128, 0.1);
  margin-top: 15px;
}

.list-container {
  height: fit-content;
}

.list-container > .button-container {
  display: grid;
  grid-template-columns: auto auto;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

/* COLOR SCHEME PRIORITY */
.priority-high {
  border-left: solid 0.5px rgba(255, 0, 0, 0.5);
  border-right: solid 7px rgba(255, 0, 0, 0.5);
}
.priority-medium {
  border-left: solid 0.5px rgba(255, 166, 0, 0.5);
  border-right: solid 7px rgba(255, 166, 0, 0.5);
}
.priority-low {
  border-left: solid 0.5px rgba(0, 128, 0, 0.5);
  border-right: solid 7px rgba(0, 128, 0, 0.5);
}
.priority-zero {
  border-left: solid 0.5px rgba(97, 97, 97, 0.5);
  border-right: solid 7px rgba(97, 97, 97, 0.5);
}
.priority-zero > .mid-list > .list-title,
.priority-zero > .mid-list > .list-text {
  color: rgba(114, 114, 114, 0.4);
}

.priority-zero > .mid-list > .button-container > .edit-button {
  display: none;
}
.priority-zero > .mid-list > .checkbox-container {
  pointer-events: none;
}

.priority-zero > .mid-list > .checkbox-container::after {
  content: '✓';
  position: relative;
  font-size: 2rem;
  color: rgba(92, 92, 92, 0.3);
  top: -50px;
  left: -2px;
}

.priority-zero > .mid-list > .list-title::after {
  content: 'DONE';
  position: relative;
  display: inline;

  top: -2px;
  margin-left: 5px;
  padding: 2px 4px 1px;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
}

/* PRIORITY INPUT */
.priority-container {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr 0);
  justify-content: start;
  align-items: center;
  color: grey;
}

.priority {
  transform: translateY(-2px);
}

.priority-input {
  background-color: rgb(255, 255, 255);
  height: 1.6rem;
  background-color: transparent;
  appearance: none;
  text-align: center;
  transform: translateY(-0.3px);
}
.priority-input:hover {
  background-color: rgba(201, 201, 201, 0.2);
}

.priority-input-low:checked {
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
}
.priority-input-medium:checked {
  background-color: rgba(255, 166, 0, 0.75);
  color: white;
}
.priority-input-high:checked {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

/* DUE INPUT */
.due-container {
  display: grid;
  grid-template-columns: auto repeat(2, 40px 40px);
  gap: 2.5px;
}

.due-container > input {
  height: 1.6rem;
  background-color: transparent;
  border: solid 1px rgba(128, 128, 128, 0.3);
}

@media only screen and (max-width: 700px) {
  .navbar {
    grid-template-columns: 1fr 0 0;
    padding-left: 45px;
  }
  .main-body {
    justify-content: center;
  }
}
