@font-face {
  font-family: 'myFont';
  src: url('./fonts/font.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'myFont';
  color: rgb(97, 97, 97);
  /* border: solid 1px grey; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-image: url('/src/images/background.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);

  display: grid;
  grid-template-rows: 45px 1fr;
}

.navbar {
  width: 100%;
  background-color: black;

  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 7.5px;
}

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;

}

.app-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.app-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1159/1159633.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: invert(1);
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.user-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/10126/10126784.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: invert(1);
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.main-body {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 15px;
}

.project-container,
.add-project-container {
  height: fit-content;
  background-color: rgb(214, 214, 214);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.add-project-container > div > button {
  min-height: 69px;
}

.project-container > div {
  margin: 5px 0;
}

.project-name {
  width: 100%;
  font-weight: bold;
  min-height: 35px;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 10px;
}

.list-container {
  width: 100%;
  height: auto;
  background-color: rgba(128, 128, 128, 0.384);
  padding: 10px;
}

.edit-button,
.delete-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 3.5px;

  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.75;
}

.edit-button {
  background-image: url('./images/edit.png');
  background-size: 16px;
}

.delete-button {
  background-image: url('./images/delete.png');
  background-size: 17.5px;
}

.add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-button,
.submit-button {
  width: 100%;
  min-height: 25px;

  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.add-button {
  background-size: 9px;
  background-image: url('./images/add.png');
}

.submit-button {
  background-size: 12px;
  background-image: url('./images/confirm.png');
}

input {
  width: 100%;
  min-height: 25px;
}

.top-project,
.top-list {
  /* border: solid 1px red; */
  text-align: end;
}
.mid-project,
.mid-list {
  /* border: solid 1px yellow; */
}
.bottom-project,
.bottom-list {
  /* border: solid 1px green; */
}

.list-container {
  /* border: solid 1px purple; */
}
