@font-face {
  font-family: 'myFont';
  src: url('./fonts/font.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'myFont';
  font-size: 1rem;
  /* color: rgb(141, 141, 141); */
  /* border: solid 1px grey; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-image: url('/src/images/background.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);

  display: grid;
  grid-template-rows: 45px 1fr;
}

/* NAVBAR */

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0);

  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 7.5px;
}

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.app-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.app-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1159/1159633.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: invert(1);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.user-name {
  color: rgba(255, 255, 255, 0.075);
}

/* .user-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/366/366354.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  border: solid 1px black;
  border-radius: 50%;

  filter: invert(1);
  width: 30px;
  height: 30px;
  margin: 0 5px;
} */

/* MAIN BODY */

.main-body {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;

  overflow: scroll;
  /* justify-content: center; */
}

.project-container,
.add-project-container {
  height: fit-content;
  background-color: rgba(230, 230, 230, 0.9);

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  border-radius: 5px;
}

.project-name {
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  height: 35px;
  padding: 10px 2.5px 5px;
}

.list-container {
  width: 200px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;

  border-radius: 5px;
  transition: all 2s;
}

.edit-button,
.delete-button {
  cursor: pointer;
  width: 25px;
  height: 25px;

  /* border-radius: 50%; */
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.6;
  background-color: transparent;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 1;
}

.edit-button {
  background-image: url('./images/edit.png');
  background-size: 18px;
}

.delete-button {
  background-image: url('./images/delete.png');
  background-size: 17.5px;
}

.add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-cancel-container {
  display: flex;
}

.add-button,
.submit-button,
.cancel-button {
  width: 100%;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;

  background-color: transparent;
  opacity: 0.6;
}

.add-button:hover,
.submit-button:hover,
.cancel-button:hover {
  opacity: 1;
}

.add-button {
  height: 40px;
  background-size: 11.5px;
  background-image: url('./images/add.png');
}

.submit-button {
  background-size: 13.5px;
  background-image: url('./images/confirm.png');
  margin-top: 10px;
}

.cancel-button {
  background-size: 11.5px;
  background-image: url('./images/cancel.png');
  margin-top: 10px;
}

input,
.priority-container {
  width: 100%;
  height: fit-content;
  padding: 2px 5px;
  margin-bottom: 2.5px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(231, 231, 231);
}

.project-name {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

.list-title {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  /* background-color: green; */
}

.list-text {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2.5px;
}

.list-time,
.list-date,
.list-due,
.list-priority {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}

.bottom-list {
  margin-top: 7.5px;
  text-align: end;
}

.mid-project {
  display: grid;
  gap: 5px;
  margin: 10px 0;
}

.button-container,
.top-list {
  display: flex;
  justify-content: end;
}

.list-container {
  height: fit-content;
}

.hidden {
  height: 0px;
  overflow: hidden;
}

/* COLOR SCHEME PRIORITY */
.priority-high {
  border-left: solid 2px rgba(255, 0, 0, 0.5);
}
.priority-medium {
  border-left: solid 2px rgba(255, 255, 0, 0.5);
}
.priority-low {
  border-left: solid 2px rgba(0, 128, 0, 0.5);
}

/* PRIORITY INPUT */
.priority-container {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr 0);
  justify-content: center;
  align-items: center;
  color: grey;
  /* background-color: transparent; */
}

.priority-input {
  background-color: rgb(255, 255, 255);
  appearance: none;
}

.priority-input-low:checked {
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
}
.priority-input-medium:checked {
  background-color: rgba(255, 255, 0, 0.5);
  font-weight: 600;
  color: white;
}
.priority-input-high:checked {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
